<template>
  <div class="modal-backdrop-cu">
    <div class="modal-cu">
      <header class="modal-header">
          {{ accion }} Hamburguesa
      </header>
      <form id="form" @submit="onSubmit">
        <section class="modal-body">
              <div class="form-group row">
                <label class="col-3 col-form-label" for="nombre"><b>Nombre:</b></label>
                <div class="col-9">
                  <input class="form-control"
                        type="text"
                        id="nombre"
                        name="nombre"
                        v-model="hamburguesaTemp.nombre">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="calorias"><b>Calorías:</b></label>
                <div class="col-9">
                  <input class="form-control"
                        type="number"
                        id="calorias"
                        name="calorias"
                        v-model="hamburguesaTemp.calorias">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12 col-form-label" for="ingredientes"><b>Ingredientes:</b></label>
                <div class="col-12">
                  <textarea class="form-control"
                            id="ingredientes"
                            name="ingredientes"
                            rows="3"
                            v-model="hamburguesaTemp.ingredientes"></textarea><br>
                  <span>Nota: Los ingredientes deben ir separados por una coma (,)</span>
                </div>
              </div>
              <p v-if="errores.length">
                <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                <ul>
                  <li v-for="(error, i) in errores" :key="i">
                    <span class="error">{{ error }}</span>
                  </li>
                </ul>
              </p>
        </section>
        <footer class="modal-footer">
            <button type="button" class="btn btn-light" @click="close">
                Cerrar
            </button>
            <button type="submit" class="btn btn-success">
                {{ accion }}
            </button>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
/* eslint linebreak-style: [0, "error", "windows"] */
/* eslint-disable eol-last */
export default {
  name: 'modalCu',
  props: {
    accion: '',
    hamburguesa: {},
  },
  data() {
    return {
      errores: [],
      hamburguesaTemp: Object.assign({}, this.hamburguesa),
    };
  },
  methods: {
    close() {
      this.errores = [];
      this.$emit('close');
    },
    onSubmit(e) {
      this.parsearIngredientes();
      this.validarIngredientes();
      this.validarForm();

      if (this.errores.length === 0) {
        if (this.accion === 'Agregar') {
          this.$emit('agregar', this.hamburguesaTemp);
        } else {
          this.$emit('editar', this.hamburguesaTemp);
        }
      }

      e.preventDefault();
    },
    validarForm() {
      this.errores = [];
      if (this.hamburguesaTemp.nombre.trim().length === 0) this.errores.push('El nombre es obligatorio.');
      if (this.hamburguesaTemp.calorias.length === 0) this.errores.push('La cantidad de calorías es obligatoria.');
      if (this.hamburguesaTemp.calorias < 1) this.errores.push('Las calorias deben ser mayor a 0.');
      if (Number.isNaN(this.hamburguesaTemp.calorias)) this.errores.push('Las calorias deben ser númericas.');
      if (this.hamburguesaTemp.ingredientes.length < 3) this.errores.push('Deben ser más de 2 ingredientes');
    },
    parsearIngredientes() {
      // Transforma el atributo ingredientes en un arreglo de strings
      if (typeof this.hamburguesaTemp.ingredientes === 'string') {
        this.hamburguesaTemp.ingredientes = this.hamburguesaTemp.ingredientes.trim().split(',');
      }
    },
    validarIngredientes() {
      // Filtra los ingredientes eliminando los valores vacios
      this.hamburguesaTemp.ingredientes = this.hamburguesaTemp.ingredientes.filter(ingrediente => ingrediente.trim().length !== 0);
    },
  },
  watch: {
    hamburguesa(newVal) {
      this.hamburguesaTemp = Object.assign({}, newVal);
    },
  },
};
</script>

<style>
.modal-backdrop-cu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-cu {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  text-align: left;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #42b983;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.btn-agregar {
  border-radius: 50%;
  color: white;
  background-color: red;
}

textarea {
  resize: none;
}

.error {
  color: red;
}
</style>