<template>
    <div class="col-12 table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Calorías</th>
                  <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(hamburguesa, index) in hamburguesas" :key="hamburguesa._id">
                  <th scope="row">{{ index+1 }}</th>
                  <td>{{ hamburguesa.nombre }}</td>
                  <td>{{ hamburguesa.calorias }}</td>
                  <td class="d-flex justify-content-center">
                    <button class="btn btn-info mr-3" 
                            data-toggle="tooltip" data-placement="top" title="Ver detalle"
                            @click="$emit('showModalDetalle', hamburguesa)">
                      <i class="fas fa-list-alt"></i>
                    </button>
                    <button class="btn btn-warning mr-3" 
                            data-toggle="tooltip" data-placement="top" title="Editar"
                            @click="$emit('showModalCu', hamburguesa)">
                      <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn btn-danger"
                            data-toggle="tooltip" data-placement="top" title="Eliminar"
                            v-on:click="preguntaEliminar(hamburguesa, index)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
// Importar Sweet Alert
import Swal from 'sweetalert2';

export default {
  name: 'Tabla',
  props: {
    hamburguesas: Array
  },
  data() {
    return {
      accion: '',
    };
  },
  methods: {
    preguntaEliminar(hamburguesa, i) {
      Swal.fire({
        title: `¿Estás seguro que deseas eliminar ${ hamburguesa.nombre }?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar!',
        cancelButtonText: 'Cancelar'
      }).then( (result) => {
        if (result.value) {
          // Se confirma la eliminación
          this.$emit('eliminar', [hamburguesa, i]);
        }
      });
    },
  },
}
</script>

<style>
</style>